/* navigation.component.css */
.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-buttons {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.toolbar-buttons button {
  margin: 0 10px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5dc;
  margin: 0;
  padding: 0;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #610d0d !important;
  padding: 20px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toolbar-title {
  font-family: 'Comic Sans MS', Arial, Verdana;
  color: #ffffff;
  font-size: 2.5rem;
}

.toolbar-buttons {
  display: flex;
  gap: 20px;
}

.toolbar-buttons button {
  margin: 0 10px;
  font-size: 1.2rem; /* Tamaño de la letra más grande */
}

.toolbar-buttons button:hover {
  color: #490404 !important;
  background-color: #86656b !important;
  font-size: 1rem;
  transition: color 0.3s, background-color 0.3s;
}


