<mat-toolbar color="primary">
    <span class="toolbar-title">Sistema Bibliotecario </span> 
    
   
    <div class="toolbar-buttons">
      <button mat-button routerLink="" routerLinkActive="router-link-active">Home</button>
      <button mat-button routerLink="/libros/listar">Libros</button>
      <button mat-button routerLink="/categoria/listar">Categorias</button>
      <button mat-button routerLink="/prestamos/listar">Prestamos</button>
      <button mat-button routerLink="/usuarios/listar">Usuarios</button>
      <button mat-button routerLink="/autor/listar">Autores</button>
     
      </div> 
  </mat-toolbar>
 
