
.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.create-entry-button {
    font-family: 'Roboto', sans-serif; /* Cambia la fuente */
    font-size: 1rem; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
    color: #fff !important; /* Color del texto */
    background-color: #632137 !important; /* Fondo del botón */
    margin-bottom: 20px; /* Margen inferior */
    padding: 10px 20px; /* Relleno del botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición para el cambio de color */
}

.create-entry-button:hover {
    background-color: #744056 !important; /* Color de fondo al pasar el ratón */
}

.table-container {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
    color: #632137;
    font-size: 1.1rem;
    padding: 10px;
}

td {
    color: #333;
    font-size: 1rem;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

td button {
    background-color: #752540 !important;
    color: #fdfdfd !important;
    font-size: 0.9rem;
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

td button:hover {
    background-color: #8f556d !important;
}

.list-title {
    font-family: 'Comic Sans MS', Arial, Verdana; 
    color: #fff; /* Cambiar el color del texto a blanco */
    font-size: 2.5rem; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 20px; 
    text-shadow: 2px 2px 0 #000, /* Borde negro alrededor del texto */
                  -2px -2px 0 #000,
                 -2px 2px 0 #000,
                 2px -2px 0 #000,
                 2px 0 0 #000,
                 -2px 0 0 #000,
                 0 2px 0 #000,
                 0 -2px 0 #000; 
  }
  
