
    <div class="container">
        <h2 class="list-title">Actualizar Libro</h2>
        <div class="form-container">
          <mat-dialog-content [formGroup]="form">
            <mat-form-field class="form-field">
                <input matInput placeholder="Titulo" formControlName="titulo">
            </mat-form-field>
          
            <mat-form-field class="form-field">
                <input matInput placeholder="Año de Publicacion" formControlName="anioPublicacion">
            </mat-form-field>

            <mat-form-field class="form-field">
              <input matInput placeholder="AutorID" formControlName="autorID">
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput placeholder="CategoriaID" formControlName="categoriaID">
        </mat-form-field>

           
          </mat-dialog-content>
          <mat-dialog-actions>
            <button mat-raised-button class="action-button" color="primary" (click)="guardar()">Guardar</button>
            <button mat-raised-button class="action-button" color="warn" (click)="cerrar()">Cerrar</button>
          </mat-dialog-actions>
        </div>
      </div>
      