/* Estilos generales */
.container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.list-title {
    font-family: 'Comic Sans MS', Arial, Verdana; 
    color: #643040; 
    font-size: 2.5rem; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 20px; 
}

/* Estilos específicos para el formulario */
.form-container {
    background-color: #6b263d ; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: transparent; /* Hacer el fondo transparente para que el color del contenedor sea visible */
}

.form-field {
    width: 100%;
}

mat-dialog-actions {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.action-button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.action-button[color="primary"] {
    background-color: #571735 !important;
}

.action-button[color="primary"]:hover {
    background-color: #7e445f !important;
}

.action-button[color="warn"] {
    background-color: #d32f2f !important;
}

.action-button[color="warn"]:hover {
    background-color: #e57373 !important;
}
